body{
    width: 100vw;
    height: 100vh;
    background-color: #f8e7af;
    display: grid;
    place-items: center;
    text-align: center;
}
h1{
    margin-top: -170px;
    margin-bottom: 40px;
    font-family: 'Caveat', cursive;
}
input#temp {
    padding: 8px 0px;
    border: none;
    border-radius: 5px;
    font-size: 26px;
}
select#temp_diff {
    padding: 8px 0px;
    border: none;
    border-radius: 5px;
    font-size: 26px;
}
.btn{
    margin-top: 20px;
    padding: 6px 30px;
    color: white;
    font-weight: 600;
}
h2{
    margin-top: 30px;
}
#result_num{
    font-size: 40px;
}